@charset "UTF-8";
/*主要主题色*/
/*背景色*/
/*黑色*/
/*灰色*/
/*灰一点的灰色*/
/*更灰一点*/
.header[data-v-9e24753a] {
  width: 100%;
  height: 56px;
  position: relative;
  z-index: 3;
  background: #fff;
  border-bottom: solid 1px #eaeaea;
}
.header .container[data-v-9e24753a] {
    height: 100%;
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
.header .container .logo[data-v-9e24753a] {
      vertical-align: middle;
}
.header .container .nav-item[data-v-9e24753a] {
      display: inline-block;
      line-height: 56px;
      max-height: 56px;
      margin-right: 16px;
      /*padding: 12px 0;*/
}
.header .container ul[data-v-9e24753a] {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 0;
      list-style: none;
      vertical-align: top;
}
.header .container ul li[data-v-9e24753a] {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        padding: 0 16px;
        height: 56px;
        line-height: 56px;
        margin: 0;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
}
.header .container ul li a[data-v-9e24753a] {
          color: #333;
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          font-weight: 500;
}
.header .container .logined[data-v-9e24753a] {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-size: 16px;
}
.header .container .logined .phone[data-v-9e24753a] {
        position: relative;
        display: inline-block;
        width: 88px;
        height: 25px;
        top: 12px;
        margin-right: 28px;
        background-repeat: no-repeat;
}
.header .container .logined .mine[data-v-9e24753a] {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 28px;
        top: 14px;
        background: no-repeat center/cover;
        border: 1px solid #fafafa;
        border-radius: 50%;
}
.header .container .logined .mine:hover .mine_expand[data-v-9e24753a] {
          display: block;
}
.header .container .logined .mine_expand[data-v-9e24753a] {
        background-color: #fff;
        top: 30px;
        left: -50px;
        font-size: 14px;
        position: absolute;
        width: 180px;
        box-sizing: border-box;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.06);
        display: none;
}
.header .container .logined .mine_item[data-v-9e24753a] {
        cursor: pointer;
        padding: 12px 24px;
        display: block;
}
.header .container .logined .mine_item[data-v-9e24753a]:hover {
          background-color: #F8F8FA;
}

@charset "UTF-8";
/*主要主题色*/
/*背景色*/
/*黑色*/
/*灰色*/
/*灰一点的灰色*/
/*更灰一点*/
.logined[data-v-277fc066] {
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
}
.logined .phone[data-v-277fc066] {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 25px;
    top: 12px;
    margin-right: 28px;
    background-repeat: no-repeat;
}
.logined .mine[data-v-277fc066] {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    top: 14px;
    background: no-repeat center/cover;
    border: 1px solid #fafafa;
    border-radius: 50%;
}
.logined .mine:hover .mine_expand[data-v-277fc066] {
      display: block;
}
.logined .mine_expand[data-v-277fc066] {
    background-color: #fff;
    top: 30px;
    left: -50px;
    font-size: 14px;
    position: absolute;
    width: 180px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.06);
    display: none;
}
.logined .mine_item[data-v-277fc066] {
    cursor: pointer;
    padding: 12px 24px;
    display: block;
}
.logined .mine_item[data-v-277fc066]:hover {
      background-color: #F8F8FA;
}

@charset "UTF-8";
/*主要主题色*/
/*背景色*/
/*黑色*/
/*灰色*/
/*灰一点的灰色*/
/*更灰一点*/
.center[data-v-05560c0e] {
  width: 1080px;
  margin: 0 auto;
}

